.movieDet{
    margin-top: 30px;
    width: 100%;
    height: 450px;
    color: black;
    color: silver;
    padding: 10px 0px;
}
.headTitle{
    font-size: 25px;
}

.imdb{
    color: gold;
    font-weight: 700;
}

.moviImg img{
    width: 200px;
    height: auto;
}

.colorSame{
    color: rgb(0, 187, 255);
}

.close i{
    font-size: 40px;
    cursor: pointer;
    transform: all 0.5s ease;
}

.close i:hover{
    transform: scale(1.5);
}